textarea
{
	resize: none;
}
div.header
{
	color:#800517;
	border:1px solid;
	text-align:center;
	background-color:#FDEEF4;
	border-color:#E9CFEC;
	margin: 0 0 0 0px;
}
div.stud_reg_header {
	background-color:#D7C9CE;
	border:1px solid;
	border-color:#E9CFEC;
	text-align:center;
	color:#800517;
}

div.stud_reg {
	width: 360px;
	background-color: #FDEEF4;
	border:1px solid;
	border-color:#E9CFEC;
	float:right;
	margin: 50px 50px 50px 50px;
	}
div.spacer {
  clear: both;
  }
div.row {
  clear: both;
  padding-top: 10px;
  }

div.row span.label {
  color: #800517;
  float: left;
  width: 100px;
  text-align: right;
  }
.box {
border-style: solid;
border-color: #E9CFEC;
}
div.row span.formw {
  border-style: none; 
  float: right;
  width: 235px;
  text-align: left;
  }
